body{
    width:100%
}
/*estilização do cabeçado da pagina (header)*/
header{
    background-color: rgba(67, 6, 108, 0.886);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 8vh; /*vh torna responsivo*/
    width: 100%;
    display: flex; /*define o elemento como um flex container, a direçao por padrão é em linha*/
    justify-content: space-around;
    align-items: center;
    color:#fff
}

.title{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 2vw;
}
/*Estilização menu*/

.navMenu a{
    color:#fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1vw;
}
.navMenu a:hover{
    opacity:0.5;

}
.navMenu li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.navMenu ul{
    list-style: none;
    display: flex; 
}
/*estilização da parte principal do site*/
main{
    
    background: rgba(125, 89, 133, 0.932);


    
}

.maincontent{
    align-items: center;
    min-height:500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:15px;
    width:100%;
  
}

.imgMain img{
    
    border-radius: 50%;
    shape-outside: ellipse();
    width: 250px;
    height: 250px;
    
    
    
}
.imgMain img:hover{
    box-shadow: 6px 6px 6px 3px rgb(201, 100, 214);
    
}
.imgMain{
   
    width: 200px;

}
.textoMain{
  
    width:650px;
    height:100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: aliceblue;
}
.textoMain h2{
    font-size: 2.1vw;
}
.maincontent::after{
    content: "";
    clear: both;
    display: block;
}

/*estilização da section "5 top coisas e 5 hobbies"*/
.parent{
    background: rgb(246, 236, 248);
    width: 100%;
    min-height: 500px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 35px;
    gap: 10px;
    
}

.son1{
    display: flex;
    width:570px;
    flex-direction: column;
    height:330px;
    justify-content: space-evenly;
    padding: 25px;
    

    
}
.son2{
    display: flex;
    margin: 3px;
    width:570px;
    flex-direction: column;
    height: 300px;
    padding: 10px;
    justify-content: space-evenly;
    
}

.box  {
    background-color: rgba(125, 89, 133, 0.932);
    text-align: center;
    display: inline;
    height: 120px;
    width: 100px;
    padding-top: 15px;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 2px 2px 2px rgb(112, 60, 136);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    color: #fff;
    font-size: 25px;
    transition: transform 3s;
    
}
.parent h2{
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    
    
}

  .box:hover{
    transform: rotate(360deg);
  }

.boxHobbie{
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;

}

.boxTop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*estilização do rodapé*/
footer{
    height:7vh;
    width:100%;
    background-color:rgba(67, 6, 108, 0.886);
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.navFooter img{
    width: 40px;
    display: flex;
    padding: 1px 200px 0px 0px;
}

.icones-sociais{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    
}
  .icon{
    width:5%;
    height:30px;
  }

 footer button{
    background-color: rgb(224, 195, 243);
    height: 30px;
    border: none;
    border-radius: 5px;
    transition: width 3s;
    cursor: pointer;
    
 }
 footer button:hover{ 
    width:200px; /*para aumentar a largura do botao quando passar o mouse por cima*/
 }
/*para esconder se der overflow na pagina*/
body{
    
    overflow-x: hidden;
    
    
}

